*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #12121f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0.5rem 3rem rgba(0,0,0,0.4);
}

.month {
    position: relative;
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0, 0.5);
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem 0.2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.4rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.add {
    position: absolute;
    right: 2%;
    top: 8%;
}

.today {
    background-color: #167e56;
}

.today:hover {
    border: 0.2rem solid #777;
    cursor: pointer;
}

.day-popup {
    width: 20rem;
    min-height: 8rem;
    padding: 0.2rem 0.2rem;
    background-color: #0f573b;
    box-shadow: 0.3rem 0.5rem rgba(0,0,0,0.5);
    letter-spacing: 0.1rem;
}

.day-popup-container {
    z-index: 1;
    visibility: hidden;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.day-popup i.exit {
    position: absolute;
    top: 0%;
    right: 0%;
}

.day-popup i:hover {
    cursor: pointer;
}

.create-popup {
    visibility: hidden;
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.2rem 0.2rem;
    background-color: #0f573b;
    box-shadow: 0.3rem 0.5rem rgba(0,0,0,0.5);
    letter-spacing: 0.1rem;
    padding: 0.2rem;
    z-index: 2;
}

.create-popup label {
    font-size: 1.2rem;
    margin: 0.4rem;
}

.create-popup input {
    width: 97%;
    height: 2rem;
    margin: 0.4rem;
}

.create-popup i {
    position: absolute;
    top: 0%;
    right: 0%;
}

.create-popup i:hover {
    cursor: pointer;
}

.popup-show {
    visibility: visible;
}

.save {
    background-color: #1fad77;
    border: none;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
    padding: 0.3rem 1rem;
}

.save:hover {
    cursor: pointer;
}